projectPath: src
forbiddenWordsChecker:
    pattern: /console\.\([debug|info|log|warn|trace]\)|var_dump\(|var_export\(|print_r\(|\bvd\(|\bvdx\(|\bpr\(|\bprx\(|\bvl\(|\bvlx\(|<<<<<<<|=======|>>>>>>>/
phpCsChecker:
    standard: PSR2